include LICENSE
include tox.ini
include requirements.txt
include sma-template.ini
recursive-include alerts *.py *.sh
recursive-include monitors *.py *.sh
recursive-include services *
recursive-include simple_monitor_alert/tests *.ini
