[Unit]
Description=Simple Monitor Alert Service
After=syslog.target

[Service]
Type=simple
User=sma
ExecStart=/bin/sh -c 'sma --quiet service'
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
